<h1>Login Page</h1>

<form asp-controller="Account" asp-action="Login" method="post">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
    <button type="submit">Login</button>
</form>

